* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

h1, h2 {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
}


main {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}


main section:first-child {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

main section:last-child {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}

canvas {
    margin-top: 10px;
}



@media (max-width: 850px) {
    main {
        flex-direction: column;
        gap: 20px;
    }

    section {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, button {
        width: 100%;
        margin-bottom: 10px;
    }

    #qrCanvas {
        width: 180px !important;
        height: 180px !important;
    }
}