* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(to right, #e3f2fd, #bbdefb);
}

h1{
    margin-bottom: 10px;
}

h2 {
    color: #0d47a1;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}

h3 {
    color: #0d47a1;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    color: #0d47a1;
    margin-bottom: 5px;
    font-weight: 700;
}

header p {
    font-size: 16px;
    color: #1565c0;
}


input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

label {
    font-weight: 600;
    margin-bottom: 4px;
    display: inline-block;
    color: #0d47a1;
}


main {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}


main section:first-child {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

main section:last-child {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}

canvas {
    margin-top: 10px;
}



@media (max-width: 850px) {
    main {
        flex-direction: column;
        gap: 20px;
    }

    section {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, button {
        width: 100%;
        margin-bottom: 10px;
    }

    #qrCanvas {
        width: 180px !important;
        height: 180px !important;
    }
}


input[type="text"], 
input[type="color"], 
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-bottom: 12px;
    font-size: 15px;
}


button {
    padding: 10px 15px;
    background-color: #1565c0;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.2s ease;
}

button:hover {
    background-color: #0d47a1;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.97);
}


#downloadBtn {
    background-color: #00897b;
}

#downloadBtn:hover {
    background-color: #00695c;
}


input[type="text"] {
    border-color: #90caf9;
}

input[type="file"], 
input[type="color"] {
    cursor: pointer;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}



input:focus {
    outline: none;
    border-color: #0078ff;
    box-shadow: 0 0 5px rgba(0,120,255,0.4);
}


section {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

#qrCanvas {
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    border: 2px solid #90caf9;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(13, 71, 161, 0.15);
}
